body {
    background-color: black;
}

/*Mobile site*/

/*fordi i previouv view i messenger facebook så gik billeden over teksten, quick fix*/
img {
    z-index: -1;
}

/*NAVIGATION*/

header {
    background-color: white;
}

.topbar a {

    color: black;

}

#knap {

    color: black;

}

nav a {
    color: black;
}

/*Main*/

.pila {
    top: 129vw;
    left: 50vw;
    width: 10vw;
    height: 3vw;
}

.section_wrap {
    width: 100%;
    height: 80vh;

}


section h1 {
    text-transform: none;
    text-align: left;
    margin: 5px;
    font-weight: 400;
    color: white;
    font-size: 3rem;
    margin-top: 50px;

}

/*boksbevægelse*/

.boks {
    position: absolute;
    top: 48.5vw;
    left: 56.5vw;
    background-color: #277A4C;
    width: 100px;
    height: 100px;

    padding: 9px;
    margin: 27px;



    clip-path: polygon(0 0, 32% 31%, 0 0, 100% 0, 69% 31%, 100% 0, 100% 100%, 69% 69%, 100% 100%, 0 100%, 31% 68%, 0 100%);



}

.boks h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.boks p {
    font-size: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

.text {
    margin-top: 20px;

}



.pattern {
    animation-name: boks_1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}



@keyframes boks_1 {
    0% {
        transform: translateX(0vw)translateY(0vw);
        background-color: #277A4C;
        clip-path: polygon(0 0, 32% 31%, 0 0, 100% 0, 69% 31%, 100% 0, 100% 100%, 69% 69%, 100% 100%, 0 100%, 31% 68%, 0 100%);
    }

    25% {
        transform: translateX(-30vw)translateY(14vw);
        background-color: #C65F62;
        clip-path: polygon(0% 15%, 32% 31%, 15% 0%, 85% 0%, 69% 31%, 100% 15%, 100% 85%, 69% 69%, 85% 100%, 15% 100%, 31% 68%, 0% 85%);
    }

    50% {
        transform: translateX(-63vw)translateY(-9vw);
        background-color: #2280FF;
        clip-path: polygon(0% 15%, 40% 45%, 15% 0%, 56% 36%, 100% 0, 69% 48%, 100% 85%, 65% 61%, 85% 100%, 47% 65%, 0 100%, 34% 55%);
    }

    75% {
        transform: translateX(-30vw)translateY(-40vw);
        background-color: #00706C;
        clip-path: polygon(0% 15%, 32% 31%, 15% 0%, 85% 0%, 69% 31%, 100% 15%, 100% 85%, 69% 69%, 85% 100%, 15% 100%, 31% 68%, 0% 85%);
    }

    100% {
        transform: translateX(0vw)translateY(0vw);
        background-color: #E05239;
        clip-path: polygon(0 0, 32% 31%, 0 0, 100% 0, 69% 31%, 100% 0, 100% 100%, 69% 69%, 100% 100%, 0 100%, 31% 68%, 0 100%);
    }
}

.paused {
    animation-play-state: paused;
}

.forsvind {
    animation-name: forsvind_kf;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.59, -0.56, .77, 1.34);
    animation-fill-mode: forwards;
    transform-origin: 50% 0%;
}

@keyframes forsvind_kf {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

/* projekt overview  mobil */
.section_wrapper_img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;

}

.hvrbox {
    box-sizing: border-box;
}

.hvrbox {
    position: relative;
    display: grid;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin: 10px;
    align-content: center;
    object-fit: cover;
}

.hvrbox img {
    max-width: 100%;
    object-fit: cover;
}



.hvrbox .hvrbox-text {
    opacity: 1;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 2.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: inline-block;
    position: absolute;
    top: 54%;
    left: 35%;
    border-top: 0px solid rgba(179, 179, 179, 0.7);
    margin-top: 1vh;
    padding-top: 1vh;

}




/*FOOTER*/

footer {
    background-color: white;
    color: black;

}

footer h2 {

    color: black;

}

/*ipad*/


@media screen and (min-width: 500px) and (max-width: 1200px) {




    .pila {
        top: 80vw;
        left: 50vw;
        width: 10vw;
        height: 3vw;
    }



    section h1 {
        margin: 10px;
        font-size: 4.25rem;
        margin-top: 100px;
    }

    .section_wrap {
        height: 70vh;
    }

    .boks {
        position: absolute;
        top: 25.5vw;
        left: 77.5vw;
        background-color: #277A4C;
        width: 100px;
        height: 100px;
        padding: 9px;
        margin: 27px;
        clip-path: polygon(0 0, 32% 31%, 0 0, 100% 0, 69% 31%, 100% 0, 100% 100%, 69% 69%, 100% 100%, 0 100%, 31% 68%, 0 100%);

    }

    .pattern {
        animation-name: boks_2;
        animation-duration: 8s;
        animation-iteration-count: infinite;
    }



    @keyframes boks_2 {
        0% {
            background-color: #277A4C;
            top: 25.5vw;
            left: 77.5vw;

            clip-path: polygon(0 0, 32% 31%, 0 0, 100% 0, 69% 31%, 100% 0, 100% 100%, 69% 69%, 100% 100%, 0 100%, 31% 68%, 0 100%);
        }


        25% {
            background-color: #C65F62;
            top: 44.5vw;
            left: 39.5vw;

            clip-path: polygon(0% 15%, 32% 31%, 15% 0%, 85% 0%, 69% 31%, 100% 15%, 100% 85%, 69% 69%, 85% 100%, 15% 100%, 31% 68%, 0% 85%);
        }

        50% {
            background-color: #2280FF;
            top: 25.5vw;
            left: -2.5vw;

            clip-path: polygon(0% 15%, 40% 45%, 15% 0%, 56% 36%, 100% 0, 69% 48%, 100% 85%, 65% 61%, 85% 100%, 47% 65%, 0 100%, 34% 55%);
        }

        75% {
            background-color: #00706C;
            top: 4.5vw;
            left: 39.5vw;
            clip-path: polygon(0% 15%, 32% 31%, 15% 0%, 85% 0%, 69% 31%, 100% 15%, 100% 85%, 69% 69%, 85% 100%, 15% 100%, 31% 68%, 0% 85%);
        }

        100% {
            background-color: #E05239;
            top: 25.5vw;
            left: 77.5vw;
            clip-path: polygon(0 0, 32% 31%, 0 0, 100% 0, 69% 31%, 100% 0, 100% 100%, 69% 69%, 100% 100%, 0 100%, 31% 68%, 0 100%);
        }
    }


}

/*Desktop*/

@media (min-width: 1200px) {

    /*Main*/

    /*pila*/
    .pila {

        top: 53vw;
        left: 95vw;
        width: 5vw;
        height: 1.6vw;

    }

    section h1 {

        margin: 20px;
        font-size: 6.25rem;
        margin-top: 100px;

    }

    .section_wrap {
        margin-bottom: 200px;
        /*        overflow: hidden;*/
        width: 100%;
        height: 730px;
    }

    /*box animaiton*/
    .pattern {
        animation-name: boks_3;
        animation-duration: 8s;
        animation-iteration-count: infinite;
    }

    .boks {
        position: absolute;
        top: 17vw;
        left: 79vw;
        background-color: #277A4C;
        width: 200px;
        height: 200px;
        padding: 50px;
        margin: 0px;
        padding-bottom: 0px;
        clip-path: polygon(0 0, 32% 31%, 0 0, 100% 0, 69% 31%, 100% 0, 100% 100%, 69% 69%, 100% 100%, 0 100%, 31% 68%, 0 100%);

    }

    .boks h2 {
        font-size: 35px;
        text-transform: uppercase;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        padding: 0;
        margin: 0;
        padding-top: 20px;
    }

    .boks p {
        font-size: 24px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        padding: 0;
        margin: 0;
    }

    .text {
        margin: 0px;

        margin-top: 0px;
        margin-bottom: 0px;

    }



    @keyframes boks_3 {
        0% {
            background-color: #277A4C;
            top: 17vw;
            left: 79vw;
            clip-path: polygon(0 0, 32% 31%, 0 0, 100% 0, 69% 31%, 100% 0, 100% 100%, 69% 69%, 100% 100%, 0 100%, 31% 68%, 0 100%);
        }


        25% {
            background-color: #C65F62;
            top: 39vw;
            left: 40vw;
            clip-path: polygon(0% 15%, 32% 31%, 15% 0%, 85% 0%, 69% 31%, 100% 15%, 100% 85%, 69% 69%, 85% 100%, 15% 100%, 31% 68%, 0% 85%);
        }

        50% {
            background-color: #2280FF;
            top: 17vw;
            left: 2vw;
            clip-path: polygon(0% 15%, 40% 45%, 15% 0%, 56% 36%, 100% 0, 69% 48%, 100% 85%, 65% 61%, 85% 100%, 47% 65%, 0 100%, 34% 55%);
        }

        75% {
            background-color: #00706C;
            top: 6vw;
            left: 40vw;
            clip-path: polygon(0% 15%, 32% 31%, 15% 0%, 85% 0%, 69% 31%, 100% 15%, 100% 85%, 69% 69%, 85% 100%, 15% 100%, 31% 68%, 0% 85%);
        }

        100% {
            background-color: #E05239;
            top: 17vw;
            left: 79vw;
            clip-path: polygon(0 0, 32% 31%, 0 0, 100% 0, 69% 31%, 100% 0, 100% 100%, 69% 69%, 100% 100%, 0 100%, 31% 68%, 0 100%);
        }
    }


    /* projekt overview desktop */


    .hvrbox {
        overflow: hidden;
        display: block;
        max-width: 100%;
        height: 100%;
        margin: 0px;

    }

    .hvrbox img {
        max-width: 100%;
    }


    .hvrbox .hvrbox-layer_bottom {
        display: block;
    }

    .hvrbox:hover .hvrbox-layer_top,
    .hvrbox.active .hvrbox-layer_top {
        opacity: 1;
    }

    .hvrbox .hvrbox-layer_top {
        opacity: 0;
        /*        position: absolute;*/
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        padding: 0px;
        margin: 0px;
        -moz-transition: all 0.4s ease-in-out 0s;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }

    .hvrbox .hvrbox-text {
        text-decoration: none;
        color: white;
        text-align: center;
        font-size: 4rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }




    .section_wrapper_img {

        cursor: pointer;

    }

    .section_wrapper_img img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }


    .image1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .image2 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .image3 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .image4 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: span 1;
    }

    .image5 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .image6 {

        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}
