body {
    background-color: #277A4C;
}

/*Mobile site*/
/*Main*/

.bg p {
    color: #277A4C;
}

.bg h1 {
    color: #277A4C;
}


footer a {
    color: white;
}

/*Desktop*/

@media (min-width: 769px) {

    /*Main*/

    .om {
        color: #277A4C;
    }
}
