/*Gør så man ikke kan scroll til siden*/

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px;
}

/*Mobile site*/

body {
    background-color: white;
}

img {
    width: 100%;
    background-image: cover;
}

.responsive {

    width: 100%;
    height: auto;

}

section .col_tekst,
.section_wrapper_1 {
    margin: 20px;
    text-align: center;
}

button {
    margin: 5px;
}


/*FONT PÅ DET HELE*/
p,
h1,
h2,
h3,
ul,
a {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 16px;
}

footer h2 {
    font-weight: 300;
    padding-right: 20px;
}

h1 {
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px;
}

h2,
a {
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
}

h3 {
    font-weight: 400;
    text-align: center;
    font-size: 0.825rem;
    padding: 0px;
}

p,
ul {
    font-weight: 300;
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 20px;

}



/*NAVIGATION*/

header {
    margin-top: 0;
    background-color: black;
}


.header {

    background: none;
}


.topbar {
    display: grid;
    grid-template-columns: 1fr 1fr 70px;
    height: 50px;
}

.topbar a {
    margin-left: 10px;
    width: 200px;


}

.topbar a {
    display: block;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    margin-top: 0px;
    color: white;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

#knap {
    grid-column-start: 3;
    margin-top: 0px;
    padding: 5px;
    text-align: center;
    font-size: 30px;
    color: white;
    cursor: pointer;
}




nav a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: white;

    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}


#om:hover {
    color: #277A4C;
}

#tema02:hover {
    color: #C65F62;
}

#tema03:hover {
    color: #2280FF;
}

#tema04:hover {
    color: #00706C;
}

#tema05:hover {
    color: #E05239;
}

#tema06:hover {
    color: #277A4C;
}

/*Skjuler menuén indtil burgermenu er klikket på*/

.toggle {
    display: none;
}

/*NAVIGATION SLUT*/
/*Main*/
/*Button*/
button {
    color: white;
    background-color: black;
    padding: 5px;
    border: none;
    font-size: 10px;
    align-items: center;
}

/*FOOTER*/



footer {

    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
    background-color: black;
    color: white;

}

footer h2 {
    font-weight: 300;
    color: white;
    text-align: right;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*FOOTER SLUT*/

/*Desktop*/

@media (min-width: 769px) {

    header {
        background: black;
    }

    /*NAVIGATION*/


    .topbar {

        height: 40px;
        width: 300px;

    }

    .topbar a {
        display: block;
        padding: 10px;
        margin-top: 0px;
        text-align: left;
        text-decoration: none;
        /*        color: white;*/
        font-size: 36px;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
    }

    #knap {
        display: none;
    }

    header {
        background: black;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    nav.toggle {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 20px);
    }



    #om {
        grid-column-start: 3;
        grid-row-start: 1;
    }

    #tema02 {
        grid-column-start: 4;
        grid-row-start: 1;
    }

    #tema03 {
        grid-column-start: 5;
        grid-row-start: 1;
    }

    #tema04 {
        grid-column-start: 6;
        grid-row-start: 1;
    }

    #tema05 {
        grid-column-start: 7;
        grid-row-start: 1;
    }

    #tema06 {
        grid-column-start: 8;
        grid-row-start: 1;
    }

    /*Main*/
    h1 {
        font-size: 4.1rem;
        text-align: left;
    }

    h2 {

        font-size: 3.1rem;
        text-align: left;
    }

    h3,
    a {

        font-size: 1.8rem;
        text-align: left;
    }

    p {

        font-size: 1.4rem;
        text-align: left;
    }

    .col_tekst p {
        text-align: center;
        padding-left: 73px;
        padding-right: 73px;
    }

    .col {
        text-align: center;
        display: flex;

    }

    .col_tekst {
        color: black;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0px;

    }



    .col_tekst h2 {
        text-align: center;
    }

    .col_tekst h3 {
        text-align: center;
    }

    /*Main*/
    .responsive {

        width: 100%;
        height: auto;
        max-width: 700px;
        max-height: none;
    }

    /*Button*/
    button {
        color: white;
        background-color: black;
        padding: 10px;
        border: none;
        font-size: 20px;
    }


    /*FOOTER*/


    footer h2 {
        font-size: 1rem;
    }






    /*FOOTER SLUT*/
