/*Gør så man ikke kan scroll til siden*/

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px;
}

/*Mobile site*/


/*Bacground color*/
img {
    width: 100%;
    height: auto;
    margin: 0px;
    object-fit: cover;
}

.pila {
    background-image: url(billeder/pila_nidur.svg);
    background-size: cover;
    position: absolute;
    top: 63vw;
    left: 50vw;
    width: 10vw;
    height: 3vw;
    filter: drop-shadow(3px 3px 5px);
}

.pila_animation {
    animation-name: pila_bounce;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes pila_bounce {
    0% {
        transform: translate(-50%, 0);
    }

    10% {
        transform: translate(-50%, 0);
    }

    30% {
        transform: translate(-50%, 10px);
    }

    57% {
        transform: translate(-50%, -3px);
    }

    100% {
        transform: translate(-50%, 0);
    }
}


/*FONT PÅ DET HELE*/
p,
h1,
h2,
h3,
ul,
a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
}

footer h3 {
    font-weight: 300;
    padding-right: 20px;
}

h1 {
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 2vh;
    padding-top: 2vh;
    margin: 0px;
}

h2,
a {
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;

    padding-bottom: 2vh;
    padding-top: 2vh;
    margin: 0px;
}

h3 {
    font-weight: 400;
    text-align: center;
    font-size: 1.3rem;
    padding-top: 2vh;
    margin: 0px;
}

p,
ul {
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 1.2vh;
    padding-top: 1.2vh;
    margin: 0px;

}



/*NAVIGATION*/

header {
    margin-top: 0px;
    background-color: black;
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.topbar {
    display: grid;
    grid-template-columns: 1fr 1fr 70px;
    height: 50px;
}

.topbar a {
    margin-left: 10px;
    width: 200px;
}

.topbar a {
    display: block;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    margin-top: 0px;
    color: white;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

#knap {
    grid-column-start: 3;
    margin-top: 0px;
    padding: 5px;
    text-align: center;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

nav a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

/*Skjuler menuén indtil burgermenu er klikket på*/

.toggle {
    display: none;
}

/*NAVIGATION SLUT*/
/*Main*/

.img_clip {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 0px;
    background-size: cover;
    clip-path: polygon(0 0, 32% 31%, 0 0, 100% 0, 69% 31%, 100% 0, 100% 100%, 69% 69%, 100% 100%, 0 100%, 31% 68%, 0 100%);

    animation: clips 10s ease infinite;
}


@keyframes clips {


    10% {
        clip-path: polygon(0 0, 32% 31%, 0 0, 100% 0, 69% 31%, 100% 0, 100% 100%, 69% 69%, 100% 100%, 0 100%, 31% 68%, 0 100%);

    }

    60% {
        clip-path: polygon(0% 15%, 32% 31%, 15% 0%, 85% 0%, 69% 31%, 100% 15%, 100% 85%, 69% 69%, 85% 100%, 15% 100%, 31% 68%, 0% 85%);

    }
}

/*Button*/
.button {
    color: white;
    background-color: black;
    padding: 5px;
    border: none;
    font-size: 10px;
    align-items: center;
    text-decoration: none;

    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

.button_container {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

/*italic skrift type*/
.italic {
    font-style: italic;
}

/*section_wrapper 1*/

.section_wrapper_1 p {
    padding-left: 3vw;
    padding-right: 3vw;


}


/*col1*/
.col_1 {

    padding-left: 7.3vw;
    padding-right: 7.3vw;
    margin-top: 0px;
}

/*col_tekst*/

.col_tekst {
    color: black;
    text-align: center;
    padding-left: 3.3vw;
    padding-right: 3.3vw;
}

.col_tekst p {

    padding-left: 6.3vw;
    padding-right: 6.3vw;
}

.col_3,
.col_4 {

    padding-bottom: 1.1vh;
}

/*section_wrapper_med sort background*/

.bg {
    background-color: black;
    margin: 0px;
}

.bg .button {
    color: black;
    /*   setja inn lita koða fyrir hvern og einn taka eftir skjali*/
}

.col_button {
    text-align: center;
}

/*FOOTER*/

footer {
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
}

footer a {
    font-weight: 300;
    color: black;
    display: inline-block;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}


/*FOOTER animation*/
.footer_animation {
    animation: floatText 15s infinite linear;
}



@keyframes floatText {
    to {
        transform: translateX(100%);
    }
}

/*FOOTER SLUT*/

/*Desktop*/

@media (min-width: 769px) {

    /*NAVIGATION*/
    .topbar {
        height: 40px;
        width: 300px;
    }

    .topbar a {
        display: block;
        padding: 10px;
        margin-top: 0px;
        text-align: left;
        text-decoration: none;
        font-size: 36px;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
    }

    #knap {
        display: none;
    }

    header {
        background: black;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    nav.toggle {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 20px);
    }

    .om {
        grid-column-start: 3;
        grid-row-start: 1;
    }

    .tema02 {
        grid-column-start: 4;
        grid-row-start: 1;
    }

    .tema03 {
        grid-column-start: 5;
        grid-row-start: 1;
    }

    .tema04 {
        grid-column-start: 6;
        grid-row-start: 1;
    }

    .tema05 {
        grid-column-start: 7;
        grid-row-start: 1;
    }

    .tema06 {
        grid-column-start: 8;
        grid-row-start: 1;
    }

    .om:hover {
        color: #277A4C;
    }

    .tema02:hover {
        color: #C65F62;
    }

    .tema03:hover {
        color: #2280FF;
    }

    .tema04:hover {
        color: #00706C;
    }

    .tema05:hover {
        color: #E05239;
    }

    .tema06:hover {
        color: #277A4C;
    }

    /*Main*/

    .bil {
        margin-top: 20px;
    }

    /*pila*/
    .pila {
        top: 53vw;
        left: 95vw;
        width: 5vw;
        height: 1.6vw;
    }

    /*Font i desktop*/
    h1 {
        font-size: 4.1rem;
    }

    h2 {
        font-size: 3.1rem;

    }

    h3 {
        font-size: 2rem;

    }

    footer a {
        font-size: 2rem;
    }

    a {
        font-size: 1.3rem;
    }

    ul,
    p {
        font-size: 1.4rem;

    }

    /*section_wrapper_1*/
    .section_wrapper_1 {
        margin: 0px;
        text-align: center;
        color: black;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto 1fr auto;
    }



    /*section_wrapper*/
    .section_wrapper {
        color: black;
        display: grid;
        grid-gap: 0px;
        grid-template-columns: 1fr 1fr;
    }

    /*col*/
    .col {
        text-align: center;
        display: flex;
    }

    .col_button {
        text-align: center;
        padding: 50px;
        padding-top: 100px;
    }




    /*section_wrapper_sidst*/

    .section_wrapper_sidst {
        color: black;
        display: grid;
        grid-gap: 0px;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 3vh;
    }

    /*section_wrapper_3*/
    .section_wrapper_3 {

        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    /*section_wrapper_3*/
    .section_wrapper_4 {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1% auto 1%;
    }

    .col_3,
    .col_4 {
        display: grid;
        grid-column: 2;

    }

    .col_3_tekst {

        text-align: center;

    }

    /*Main*/

    /*Button*/
    .button {
        color: white;
        background-color: black;
        padding: 10px;
        border: none;
        font-size: 20px;
    }



    .button:hover {
        cursor: pointer;
        clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);

    }

    /*FOOTER*/

    footer a {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .footer_animation:hover {
        animation-play-state: paused;
    }
}

/*FOOTER SLUT*/
