body {
    background-color: #00706C;
}


/*Mobile site*/
/*Main*/
#knap:hover {
    color: #00706C;
}

.bg {
    color: #00706C;
}

.bg p,
.bg h1,
.bg h2,
.bg h3 {
    color: #00706C;
    padding: 10px;
}

.bg .button {

    background-color: #00706C;
}

footer a {
    color: white;
}

/*Desktop*/

@media (min-width: 769px) {
    .tema04 {
        color: #00706C;
    }

    /*Main*/


    .col_2 {
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 0px;
    }
}
