body {
    background-color: #C65F62;
}



/*Mobile site*/
/*Main*/
#knap:hover {
    color: #C65F62;
}

header {
    background-color: white;
}

.topbar a {
    color: black;
}

#knap {
    color: black;
}

nav a {
    color: black;
}

.bg p,
.bg h2,
.bg h3 {
    color: #C65F62;
}

.bg button {

    background-color: #C65F62;
}

footer {
    background-color: white;
}


/*Desktop*/

@media (min-width: 769px) {

    #tema02 {
        color: #C65F62;
    }

    /*Main*/


}
