html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #277A4C;
}


/*Mobile site*/
/*Main*/
header {
    background-color: white;
}


.topbar a {

    color: black;

}

#knap {

    color: black;

}

nav a {
    color: black;
}

#knap:hover {
    color: #277A4C;
}

.bg {

    color: #277A4C;
}

.bg p,
.bg h1,
.bg h2,
.bg h3 {
    color: #277A4C;
    padding: 10px;

}




footer {
    background-color: white;
}

/*Desktop*/

@media (min-width: 769px) {

    .tema06 {
        color: #277A4C;
    }

    /*Main*/



    .col_2 {
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 0px;
    }

    .section_wrapper_sidst {
        margin-bottom: 50px;

    }
}
