body {
    background-color: #2280FF;
}


/*Mobile site*/


/*Main*/
#knap:hover {
    color: #2280FF;
}


.bg p,
.bg h2,
.bg h3,
.bg ul {
    color: #2280FF;
}

.bg ul {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.bg button {
    background-color: #2280FF;
}

/*FOOTER*/
footer a {
    color: white;
}

/*Desktop*/

@media (min-width: 769px) {

    #tema03 {
        color: #2280FF;
    }

    /*Main*/




    .col_2 {
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 0px;
    }

    ul {
        text-align: center;
        font-weight: 300;
    }

    .section_wrapper_sidst {
        margin-bottom: 50px;
        padding: 10px;
    }
